.postContent {
  display: flex;
  gap: 12px;
}
.postContent__username {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.postContent__date {
  font-size: 14px;
  color: #888888;
}
.postContent__text {
  font-size: 14px;
  color: #000;
}
